.after_fullscreen_photo_width_1400px {
    height: 553px;
    width: 1400px;
    margin: 0 auto;
    background-color:  white;
}

.contact_txt {
    margin-bottom: 32px;
    padding-top: 150px;
    padding-left: 125px;
    color: #121212;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;
}

.contact_txt:before {
    margin-left: -5px;
    content: '';
    display: block;
    padding-bottom: 12px;
    background-repeat: no-repeat;
    background-image: url("/расходники/phone_contact.png");
    width: 24px;
    height: 24px;
}




.phone_number{   
    margin-left: 125px;
    color:  #121212;
    text-decoration: none; 
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; 
    letter-spacing: -1.8px;
}
.phone_number:hover {
    text-decoration: underline;
    opacity: 0.5;
    color: var(--text, #121212);
}

.mail {

    margin-left: 125px;
    color: var(--text, #121212);
    font-size: 60px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; 
    letter-spacing: -1.8px;
}

.mail_30px{
    padding-top: 30px;
}

.mail:hover {
    text-decoration: underline;
    opacity: 0.5;
    color: var(--text, #121212);
}
