.project_h2{
    margin-top: 150px;
}

.proj-box1_1 {
    margin-top: 30px;
 }

.proj-box1_1-img {
    width: 1150px;
    height: 450px;
}

.proj-box1_1-h3 {
    margin-top: 15px;
    padding-bottom: 15px;
    color: #121212;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
}
.proj-box1_1-href {
    color: var(--accent, #AD1818);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
    text-decoration: none;
 }

 .proj-box1_2 {
    margin-top: 90px;
 }

 .proj-box1_3 {
    margin-top: 90px;
 }

.all_projects{
    margin-bottom: 150px;
    margin-top: 90px;
    width: 1150px;
    height: 153px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid var(--accent, #AD1818);
    background-color: white;

}

.all_projects_txt{
    
    color: var(--accent, #AD1818);
    text-align: center;
    font-family: Manrope;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.all_projects_txt:hover{
    background-color: #AD1818;
    color: white;
}

@media (max-width: 1199px) {

    .project_h2{
        margin-top: 120px;
    }

    .proj-box1_1 {
        margin-left: 0px;
        margin-top: 30px;
    }
    
    .proj-box1_1-img {
        height: auto;
        width: 100%;
        object-fit: cover;
    }
    
    .proj-box1_1-h3 {
        font-size: 25px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.75px;
    }
    .proj-box1_1-href {
        margin-top: 10px;
        color: var(--accent, #AD1818);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.6px;
        text-decoration: none;
     }
    
     .proj-box1_2 {
        margin-left: 0px;
        margin-top: 80px;
     }
    
     .proj-box1_3 {
        margin-left: 0px;
        margin-top: 80px;
     }


     .all_projects {
        margin-bottom: 100px;
        margin-top: 100px;
        width: 100%;
        height: 153px;

    }
    
}



@media (max-width: 767px) {

    .project_h2{
        margin-top: 80px;
    }

    .proj-box1_1 {
    margin-left: 0px;
    margin-top: 20px;
 }

.proj-box1_1-img {
     height: auto;
    width: 100%;
    object-fit: cover;
}

.proj-box1_1-h3 {
    margin-top: 20px;
    padding-bottom: 11px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;
}
.proj-box1_1-href {
    text-decoration: none;
    font-size: 16px;
    letter-spacing: -0.48px;
 }

 .proj-box1_2 {
    margin-left: 0px;
    margin-top: 49px;
 }

 .proj-box1_3 {
    margin-left: 0px;
    margin-top: 49px;
 }

 .all_projects {
    height: 100px;
    margin-bottom: 80px;
    margin-top: 60px;
}

.all_projects_txt {
    font-size: 22px;
    letter-spacing: -0.66px;
}


}
